<html>
    <head>
    <style>
        textarea
        {
            font-size: x-large;
        }
        #qid
        {
            display:none;
        }
        td{
            font-size: 20px;
            border :1px solid black;
            padding:5px;
        }
        
    </style>
    <script>
        function editq(element)
        {
            rowid=element.closest('tr').rowIndex;
            colid=element.closest('tr').colIndex;

            idinput=document.getElementById("qid");
            qinput=document.getElementById("q");
            ainput=document.getElementById("a");
            sidinput=document.getElementById("sid");
            
            idinput.value=document.getElementById("qdata").rows[rowid].cells[0].innerHTML;

            qinput.value=document.getElementById("qdata").rows[rowid].cells[1].innerHTML;
            ainput.value=document.getElementById("qdata").rows[rowid].cells[2].innerHTML;
            sidinput.value=document.getElementById("qdata").rows[rowid].cells[3].innerHTML;
      }
    </script>
    </head>
    <body>
    <table id="qdata">
        <tr>
            <th>DB ID</th>
            <th>Question</th>
            <th>Answer</th>
            <th>Action</th>
        </tr>
    {% for x in res %}
    <tr>
        <td>{{x.id}}</td>
        <td>{{x.question}}</td>
        <td>{{x.answer}}</td>
        <td>{{x.sid}}</td>
      
        <td><button id="{{x.id}}" onclick="editq(this)">Edit</button></td>
    </tr>
    {% endfor %}
    </table>
    <br><br><br>
    <center>
    <form action="/questionsapi/editquestion/" method="post">
        {% csrf_token %}
        <input id="qid" name="qid" type="text"  />
        <textarea type="text" id="q" name="q" rows="10" cols="40" required placeholder="question"></textarea>
        <textarea type="text" id="a" name="a" rows="10" cols="40" required placeholder="answer"></textarea> 
        <input id="sid" name="sid" type="text" required placeholder="subject id"/>
        <input type="submit">
    </form>
    </center>
    </body>
</html>
